<% content_for :title, "Editing prestamo" %>

<h1>Editing prestamo</h1>

<%= render "form", prestamo: @prestamo %>

<br>

<div>
  <%= link_to "Show this prestamo", @prestamo %> |
  <%= link_to "Back to prestamos", prestamos_path %>
</div>
