<% content_for :title, "Editing libro" %>

<h1>Editing libro</h1>

<%= render "form", libro: @libro %>

<br>

<div>
  <%= link_to "Ver libro", @libro, class: "btn" %> |
  <%= link_to "Ver lista", libros_path, class: "btn" %>
</div>
