.usuarios-container {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrar texto dentro del contenedor */
}

.usuario-item {
    margin-bottom: 20px; /* Espacio entre cada usuario */
}

h1 {
    color: #007bff; /* Color del encabezado, cambia según tu paleta */
}

.btn-new{
    text-decoration: none;
    color: #007bff;
    font-weight: 700;
}